<div id="profile" class="page-layout simple tabbed">

    <!-- CONTENT -->
    <div class="content">
        <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN"
        (click)="agendar()">
        Agendar
    </button>

    <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN" style="margin-top: 8px;"
        >
        Meus pedidos
    </button>

    <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN" style="margin-top: 8px;"
        >
        Meu Cadastro
    </button>

    </div>
    <!-- / CONTENT -->
    
</div>