<div id="register" fxLayout="column" *ngIf="passo < 6">

    <div id="register-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="register-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/images/backgrounds/chef.png">
            </div>

            <div class="title">{{ passoTitulo }}</div>

            <form name="tipoForm" [formGroup]="tipoForm" novalidate *ngIf="passo === 1">
                <mat-form-field appearance="outline">
                    <mat-label>Eu Sou um</mat-label>
                    <mat-select matInput formControlName="tipo" [(ngModel)]="cadastro.tipo">
                        <mat-option value="0">Selecione</mat-option>
                        <mat-option value="1">Cliente</mat-option>
                        <mat-option value="2">Cozinheiro</mat-option>
                    </mat-select>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-error>
                        Obrigatório
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button color="accent" class="submit-button" (click)="avancar()" [disabled]="verificarPasso()"
                        *ngIf="passo < 5">
                    PROXIMO
                </button>

                <button mat-raised-button color="accent" class="submit-button" (click)="voltar()"
                    *ngIf="passo <= 5">
                    VOLTAR
                </button>
            </form>
            
            <form name="basicoForm" [formGroup]="basicoForm" novalidate *ngIf="passo === 2">
                <mat-form-field appearance="outline">
                    <mat-label>Nome</mat-label>
                    <input matInput formControlName="nome" [(ngModel)]="cadastro.nome" >
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-error>
                        Nome é obrigatório
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Sobrenome</mat-label>
                    <input matInput formControlName="sobrenome" [(ngModel)]="cadastro.sobrenome" >
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-error>
                        Sobrenome é obrigatório
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Documento</mat-label>
                    <input matInput formControlName="documento" [(ngModel)]="cadastro.documento" >
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-error>
                        Documento é obrigatório
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Telefone</mat-label>
                    <input matInput formControlName="telefone" [(ngModel)]="cadastro.telefone" maxlength="9">
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-error>
                        Telefone é obrigatório
                    </mat-error>
                </mat-form-field>
 
                <button mat-raised-button color="accent" class="submit-button" (click)="avancar()" [disabled]="verificarPasso()"
                        *ngIf="passo < 5">
                    PROXIMO
                </button>

                <button mat-raised-button color="accent" class="submit-button" (click)="voltar()"
                    *ngIf="passo <= 5">
                    VOLTAR
                </button>
            </form>

            <form name="cozinheiroForm" [formGroup]="cozinheiroForm" novalidate *ngIf="passo === 3">
                <mat-form-field appearance="outline">
                    <mat-label>Culinárias</mat-label>
                    <mat-select matInput formControlName="culinarias" [(ngModel)]="cadastro.culinarias" multiple>
                        <mat-option [value]="item.id" *ngFor="let item of tipoCulinarias">{{ item.nome }}</mat-option>
                    </mat-select>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-error>
                        Obrigatório
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Linkedin</mat-label>
                    <input matInput formControlName="linkedin" [(ngModel)]="cadastro.linkedin">
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Site</mat-label>
                    <input matInput formControlName="site" [(ngModel)]="cadastro.site">
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                </mat-form-field>
 
                <button mat-raised-button color="accent" class="submit-button" (click)="avancar()" [disabled]="verificarPasso()"
                        *ngIf="passo < 5">
                    PROXIMO
                </button>

                <button mat-raised-button color="accent" class="submit-button" (click)="voltar()"
                    *ngIf="passo <= 5">
                    VOLTAR
                </button>
            </form>

            <form name="enderecoForm" [formGroup]="enderecoForm" novalidate *ngIf="passo === 4">
                <mat-form-field appearance="outline">
                    <mat-label>CEP</mat-label>
                    <input matInput formControlName="cep" [(ngModel)]="cadastro.cep" (blur)="consultarCep()" >
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-error>
                        CEP é obrigatório
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Endereço</mat-label>
                    <input matInput formControlName="endereco" [(ngModel)]="cadastro.endereco" >
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-error>
                        Endereço é obrigatório
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Número</mat-label>
                    <input matInput formControlName="numero" [(ngModel)]="cadastro.numero" >
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-error>
                        Numero é obrigatório
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Complemento</mat-label>
                    <input matInput formControlName="complemento" [(ngModel)]="cadastro.complemento" >
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Bairro</mat-label>
                    <input matInput formControlName="bairro" [(ngModel)]="cadastro.bairro" >
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-error>
                        Bairro é obrigatório
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Cidade</mat-label>
                    <input matInput formControlName="cidade" [(ngModel)]="cadastro.cidade" >
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-error>
                        Cidade é obrigatório
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Estado</mat-label>
                    <input matInput formControlName="estado" [(ngModel)]="cadastro.estado" >
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-error>
                        Estado é obrigatório
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button color="accent" class="submit-button" (click)="avancar()" [disabled]="verificarPasso()"
                        *ngIf="passo < 5">
                    PROXIMO
                </button>

                <button mat-raised-button color="accent" class="submit-button" (click)="voltar()"
                    *ngIf="passo <= 5">
                    VOLTAR
                </button>
            </form>

            <form name="acessoForm" [formGroup]="acessoForm" novalidate *ngIf="passo === 5">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" [(ngModel)]="cadastro.email">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="acessoForm.get('email').hasError('required')">
                        Email é obrigatorio
                    </mat-error>
                    <mat-error *ngIf="acessoForm.get('email').hasError('email')">
                        E-mail inválido
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input matInput type="password" formControlName="senha" [(ngModel)]="cadastro.senha">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        Senha é obrigatório
                    </mat-error>
                </mat-form-field>

                <div class="terms" fxLayout="row" fxLayoutAlign="center center">
                    <mat-checkbox name="terms" aria-label="I read and accept" required formControlName="termos" [(ngModel)]="cadastro.termos">
                        <span>Eu li e aceito os</span>
                    </mat-checkbox>
                    <a href="#">termos e condições</a>
                </div>

                <button mat-raised-button color="accent" class="submit-button" (click)="voltar()">
                    VOLTAR
                </button>

                <button mat-raised-button color="accent" class="submit-button" aria-label="CREATE AN ACCOUNT" (click)="salvarCadastro()"
                        [disabled]="verificarPasso()" >
                    CADASTRAR
                </button>
            </form>

            <div class="erroValidacao" *ngIf="erroTexto">
                {{ erroTexto }}
            </div>

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">Já possui uma conta?</span>
                <a class="link" [routerLink]="'/login'">Login</a>
            </div>

        </div>

    </div>

</div>

<div id="mail-confirm" fxLayout="column" *ngIf="passo === 6">
    <div id="mail-confirm-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
        <div id="mail-confirm-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
            <div class="logo">
                <mat-icon class="mat-accent s-96">account_circle</mat-icon>
            </div>
            <div class="title">{{ passoTitulo }}</div>
            <div class="subtitle">
                <p>
                    Seu e-mail <b>{{ cadastro.email }}</b> foi cadastrado com sucesso.
                </p>
            </div>
            <div class="message">
                <a class="link" [routerLink]="'/login'">Voltar para a página de login</a>
            </div>
        </div>
    </div>
</div>
