<div id="register" fxLayout="column">

    <div id="register-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="register-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
            <div class="title">Encontre seu cozinheiro</div>

            <form name="agendamentoForm" [formGroup]="agendamentoForm" novalidate>
                <ng-container *ngIf="resultado.length === 0">
                    <mat-form-field appearance="outline">
                        <mat-label>Culinárias</mat-label>
                        <mat-select matInput formControlName="tipoCulinarias" [(ngModel)]="pesquisa.tipoCulinarias" multiple>
                            <mat-option [value]="item.id" *ngFor="let item of tipoCulinarias">{{ item.nome }}</mat-option>
                        </mat-select>
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    </mat-form-field>
    
                    <mat-form-field appearance="outline">
                        <mat-label>Nome</mat-label>
                        <input matInput formControlName="nome" [(ngModel)]="pesquisa.nome" >
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    </mat-form-field>
    
                    <mat-form-field appearance="outline">
                        <mat-label>Distância</mat-label>
                        <mat-select matInput formControlName="distancia" [(ngModel)]="pesquisa.distancia">
                            <mat-option [value]="0">Selecione</mat-option>
                            <mat-option [value]="3">3 KM</mat-option>
                            <mat-option [value]="5">5 KM</mat-option>
                            <mat-option [value]="10">10 KM</mat-option>
                            <mat-option [value]="15">15 KM</mat-option>
                            <mat-option [value]="30">30 KM</mat-option>
                        </mat-select>
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    </mat-form-field>
                    
                    <button mat-raised-button color="accent" class="submit-button" (click)="buscarCozinheiros()">
                        BUSCAR
                    </button>
                </ng-container>
                
                <ng-container *ngIf="resultado.length > 0">
                    <agm-map [latitude]="resultado[0].coordenada.latitude" [longitude]="resultado[0].coordenada.longitude" [zoom]="12" >
                        <agm-marker [latitude]="item.coordenada.latitude" 
                                    [longitude]="item.coordenada.longitude" 
                                    (markerClick)="clickedMarker(item)"
                                    *ngFor="let item of resultado">
                            <agm-info-window>
                                <p>{{item.nomeCompleto}}</p>
                                <p>{{item.telefone}}</p>
                                <a class="link" (click)="agendar(item)">Agendar</a>
                            </agm-info-window>
                        </agm-marker>
                    </agm-map>

                    <button mat-raised-button color="accent" class="submit-button" (click)="voltar()">
                        VOLTAR
                    </button>
                </ng-container>

            </form>
            
            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/clienteHome'">Menu principal</a>
            </div>

        </div>
    </div>

    

</div>
